@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
 width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb{
  --tw-bg-opacity: 1;
  background-color: rgb(5 150 105 / var(--tw-bg-opacity));
}
@media (max-width: 1023px){

.blog-left::-webkit-scrollbar, body::-webkit-scrollbar{
  display: none;
}
}

.news{
  background: url("../public/assets/news.jpg");
  background-size: cover;
}
.news2{
  background: url("../public/assets/news2.jpg");
  background-size: cover;
}